      <!-- INÍCIO DO CONTEÚDO -->
      <section class="content-header">
      </section>

      <section class="content">

        <div class="jumbotron welcome-jumbotron">
           <h1>Bem vindo ao C D C!</h1>
           <p>
             Sistema para auxilio de controle de custo!
           </p>
           <p>
            Usuario logado: {{usuario}}
          </p>
           <a class="btn btn-app" (click)="logoff()">
            <i class="fa fa-power-off"></i> Logoff
          </a>
        </div>
      </section>
      <!-- FIM DO CONTEÚDO -->